<mat-card class="align-center">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <table cellspacing="0" class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="login">
              <mat-error *ngIf="hasErrors('login')">Should be a valid email</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" type="password" formControlName="password">
              <mat-error *ngIf="hasErrors('password')">Should not be empty</mat-error>
            </mat-form-field>
          </td>
        </tr></table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button
            [disabled]="!loginForm.valid"
            (click)="onSubmit()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
