<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile>
      <h3 class="align-left">Список точек</h3>
  </mat-grid-tile>
  <mat-grid-tile >
    <div class="align-right">
      <button mat-raised-button
              color="primary"
              routerLink="new">
        Добавить точку
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<ng-container>
  <mat-form-field style="width:100% !important" >
    <input matInput
           [(ngModel)]="searchText"
           (keyup.enter)="search()"
           placeholder="Поиск точки по названию или адресу"
           type="search">
    <button mat-button matSuffix mat-stroked-button
            aria-label="search"
            matTooltip="Искать"
            (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button matSuffix mat-stroked-button
            aria-label="clear"
            matTooltip="Очистить поиск"
            (click)="clear()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</ng-container>

<mat-spinner *ngIf="isLoadingResults"></mat-spinner>

<ng-container *ngIf="!isLoadingResults">
  <table mat-table [dataSource]="places?.content" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address" class="hor-filler">
      <th mat-header-cell *matHeaderCellDef> Адрес </th>
      <td mat-cell *matCellDef="let element"> {{element.location.address}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Действия </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button
                matTooltip="Редактировать"
                color="primary"
                (click)="editPlace(element)">
          <i class="far fa-edit"></i>
        </button>
        <button mat-flat-button
                matTooltip="Удалить"
                color="primary"
                (click)="openDialog(element)">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [length]="places?.totalElements"
    [pageIndex]="places?.number"
    [pageSize]="places?.size"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageSelect($event)">
  </mat-paginator>
</ng-container>
