<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile>
      <h3 class="align-left">Places list</h3>
  </mat-grid-tile>
  <mat-grid-tile >
    <div class="align-right">
      <button mat-raised-button
              color="primary"
              routerLink="new">
        Add new place
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Address</th>
        </tr>
      </table>
    </div>
  </div>
</div>
