<form [formGroup]="placeForm">
  <div>
    <h3> {{editMode() ? 'Редактировать точку' : 'Добавить точку'}} </h3>
  </div>
  <div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Название" formControlName="name">
      <mat-error *ngIf="hasErrors('name')">Название должно содержать минимум 3 буквы</mat-error>
    </mat-form-field>
  </div>
  <div>
    <location-picker [formGroup]="placeForm" formControlName="location"></location-picker>
  </div>
  <div *ngIf="images.length > 0">
    <drag-scroll *ngIf="images" #scroll>
      <mat-card *ngFor="let image of images" drag-scroll-item>
        <mat-card-header>
          <div class="align-right"
               style="cursor: pointer"
               (click)="removeImage(image)">
                <i class="fas fa-times-circle"></i>
          </div>
        </mat-card-header>
        <mat-card-content>
          <img [src]="getUrlWithHost(image.fullPath)">
        </mat-card-content>
      </mat-card>
    </drag-scroll>
  </div>
  <div class="vert-space">
    <dropzone
      [config]="dzConfig"
      [message]="'Нажмите или перетащите фотографии для загрузки'"
      (success)="onImageUpload($event)">
    </dropzone>
  </div>
  <div class="vert-space">
    <button mat-raised-button
            class="alignright"
            color="primary"
            [disabled]="!placeForm.valid"
            (click)="submitForm()">Сохранить</button>
  </div>
</form>
