<form [formGroup]="placeForm">
  <div>
    <h3>Добавить точку</h3>
  </div>
  <div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Название" formControlName="name">
      <mat-error *ngIf="hasErrors('name')">Название не должно быть пустым</mat-error>
    </mat-form-field>
  </div>
  <div>
    <location-picker [formGroup]="placeForm" formControlName="location"></location-picker>
  </div>
  <div>
    <button mat-raised-button
            class="alignright"
            color="primary"
            [disabled]="!placeForm.valid"
            (click)="submitForm()">Сохранить</button>
  </div>
</form>
