<form [formGroup]="placeForm">
  <table cellspacing="0" class="full-width">
    <tr>
      <td>
        <h3>Добавить точку</h3>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Название" formControlName="name">
          <mat-error *ngIf="hasErrors('name')">Название не должно быть пустым</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <location-picker formControlName="location"></location-picker>
      </td>
    </tr>
  </table>
</form>
