<ng-container>
  <mat-form-field class="full-width">
    <input matInput
           placeholder="Адрес"
           [formControl]="addressSearch"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAddressSelection($event.option.value)">
      <mat-option *ngIf="isLoading" class="is-loading">
        <mat-spinner diameter="50"></mat-spinner>
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let suggestion of addressSuggestions" [value]="suggestion">
          <span>{{ suggestion }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
  <ng-container>
    <div *ngIf="getFormValue('address')" class="form-group">
      Выбранный адрес: {{ getFormValue('address') }}
    </div>
  </ng-container>
  <agm-map #googleMap
           [latitude]="userLocation.latitude"
           [longitude]="userLocation.longitude"
           [zoom]="zoom"
           [disableDefaultUI]="false"
           [streetViewControl]="false"
           (mapClick)="markerDragEnd($event.coords)">
    <agm-marker *ngIf="getFormValue('latitude') || getFormValue('longitude')"
      [latitude]="getFormValue('latitude')"
      [longitude]="getFormValue('longitude')"
      [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event.coords)">
    </agm-marker>
  </agm-map>
</ng-container>
