agm-map {
  height: 200px;
  width: 500px;
}

ng-image-slider {
  width: 500px;
}

div.new-review-form {
  width: 100%;
}

::ng-deep textarea {
  width: 100%;
  height: 70px;
}

star-rating, star-rating.div {
  display: inline-block !important;
  margin-left: 10px;
}

::ng-deep .mat-grid-tile .mat-figure {
  justify-content: start !important;
}
